@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('font/proximanova-bold-webfont.eot');
    src: url('font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('font/proximanova-bold-webfont.woff') format('woff'),
url('font/proximanova-bold-webfont.ttf') format('truetype'),
url('font/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '../proxima_novalight';
    src: url('../font/proximanova-light-webfont.eot');
    src: url('../font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
url('font/proximanova-light-webfont.woff') format('woff'),
url('font/proximanova-light-webfont.ttf') format('truetype'),
url('font/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}


  .mobil_head{
	display: none;
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 50px;
}

.respon{
	display: none;
}
body{
	background-color:#373737;
	font-family:'proxima_novalight';
	color:#FFF;
}

	
a:hover{
	text-decoration: none;
	color:#cac8c8;
	text-shadow: grey 0.1em 0.1em 0.2em;
	color: white;
}

a:link, a:visited, a:active{
	text-decoration: none;
	color:#cac8c8;
}	


.menu li{
	display:inline;
	margin-right:30px;

	

}

.menu{
	position:absolute;
	left:200px;
	top:0px;
	height:120px;
	font-size:27px;
	padding-top:12px;

}
.responsive{
	display: none;
}

.logo{
	margin:20px;
}

.admin{
	margin-left:10px;
}

.admin h1{
	font-size:25px;
}

.admin li {
	display:block;
	color:#cac8c8;
	font-size:15px;
	line-height:30px;
	margin-left: -35px;
		
}



.admin ul{
	margin-bottom:30px;
	margin-top:-16px;
}

.content{
	background-color:#1c1c1c;
	position:absolute;
	left: 225px;
	top: 90px;
	right:0px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	
	

	box-shadow: 5px 8.66px 92px 5px rgb(42,42,42);
	
}

.barre_sous_sous_menu{
	height:40px;
}

.iconsoussousmenu{
	width:75px;
	height:75px;
	float:left;
	background:#222222;
	margin-right:5px;
}
.iconsoussousmenu img{
	margin: 25px;
}

#soussousselect{
	background-color:#00a99e;
}

.titresoussousmenu{
	text-transform:uppercase;
	font-size:42px;
	float:left;
	line-height:75px;
	padding-left:30px;
	padding-right:30px;
}
.descsoussousmenu{
	height:45px;
	background-color:#008d84;
	clear:both;
	line-height:45px;
	font-size:25px;
	padding-left:25px;
}

.imagespot{
	height:450px;
	width:100%;
	background-position: center !important;
	
	background-size:cover !important;
	background-repeat:no-repeat !important;
	float:left;

}
.ombre{
	margin-top: -5px;
	clear: both;
	height: 8px;
	position: absolute;
	top: 568px;
	width: 100%;
}
.descspot{
	width:100%;
	height:400px;
	
	clear:both;
}

.col{
	box-sizing:border-box;
	width:24.62%;
	float:left;
	background-color:#222222;
	text-align:center;
	margin-bottom:30px;
	padding-bottom:20px;
	
}
.col2, .col3,.col4{
	margin-left:0.5%;
	}

.col h1{
	
	font-size:45px;
	color:#666;
	text-shadow: 1px 1.732px 5px rgb( 0, 0, 0 );
}
.col p{
	color:#999;
	text-shadow: 1px 1.732px 5px rgb( 0, 0, 0 );
	font-size: 21px;
	height:80px;
}
.col img {
	margin-top: -25px;
}

button{
	  border-radius: 4px;
	  box-shadow: 1px 1.732px 2px rgb( 0, 0, 0 );
  background-color: #1c1c1c;
	height:40px;
	width:160px;
	font-size: 20px;
	border:none;
	color:#FFF;
	
}


.copyright{
	width:100%;
	height:30px;
	font-size:20px;
	clear:both;
	overflow:hidden;
	text-align:center;
}


/*---------------------FORU AJOUT SPOT --------------------- */
.design_1_col{
	padding-left: 2%;
	
	margin-top: 20px;
	padding-bottom: 20px;

}
.design_1_col h2{
	font-size:30px;
	font-family:'proxima_novalight';
}



.design_1_col label{
	font-size:25px;
}
.nom_spot_form_ajout_spot{
	width: 200px;

}

.design_1_col input ,.design_1_col option , .design_1_colt select {
	background-color: #373737;

	border: none;
	height: 24px;
	padding: 3px;
	color: white;
}


	
	




.photo_spot_form_ajout_spot{
	background-color: #373737;
	width: 700px;
	height: 200px;

}
.col_form_ajout_spot{
	width: 230px;
	margin-right: 10px;
	text-align: center;
	float: left;
}

.etat_spot_form_ajout_spot{
	width: 90%;
}
.histo_form_ajout_spot{
	width: 90%;
	margin-bottom: 5px;
}

.bouton_envoyer{
	margin-top: 30px;
	margin-bottom: 10px;
	background: #55c45f;
	color: white;
}

.bouton_reset{
	
	margin-bottom: 5px;
	background: #ff4040;
	color: white;
}

.status{
     
        padding: 5px;
        background: #00A99E;
        width: 100%;
        color: white;
        margin: 8px 0;
}

.progress {
		margin-top: 60px;
		margin-bottom: 20px;
        clear: both;
        width: 90%;
      	margin-left: 5%;
      	margin-right: 5%;
       	display: none; 

        border: 1px solid #DDD;
        padding: 5px;
        border-radius: 3px;
        height: 20px !important;
        
}
.bar{
        background: #55c45f;
        height: 20px !important;
        width: 0%;
        /* transition animation */
        -webkit-transition: width .3s;
                -moz-transition: width .3s;
                        transition: width .3s;

}
.percent {
        position: relative;
        
        display: inline-block;
        top: -20px;
        left: 48%;
        height: 20px !important;
        color: white;


}

.form_ajout_spot_preview{
	width: 850px;
	height: 250px;

}

.form_ajout_spot_preview_div{
	width: 850px;
	height: 250px;
	background: #373737;
	margin-top: 5px;

}

.taille_img_preview{
	position: absolute;
	
	line-height: 250px; 
	font-size:25px; 
	text-shadow: 2.5px 4.33px 5px rgb( 0, 0, 0 );
	color: rgb( 138, 137, 137 );
	width: 850px;
	text-align: center;
}


/* ---------------------- LIST SPOT -------------------------------*/

.elem_list{
	width: 33.3%;
	float: left;
	border-bottom: 3px solid #222;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	position: relative;
}

.elem_list_img{
	width: 40%;
	min-width: 200px;
	height: 170px;
	float: left;
	background-size: cover !important;
	background-position: center;
}

.elem_list_info{
	padding: 10px;
}
.elem_list_nom{

	
	margin-left: 41%;
	margin-top:3px;
	
	font-size: 25px;
	}
.elem_list_type{
	margin-top: 20px;
	font-size: 21px;
	margin-left: 42%;

}
.elem_list_social{
	
	
	margin-top: 10px;
	margin-left: 42%;

}
.elem_list_social img{
	margin-right: 3px;
	height: 35px;
}
.elem_list_lls{
	margin-top: 62px;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	float: left;
	width: 200px;
	background-color: #008D84;
	margin-left: 20%;
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	right: 0;

}
.elem_list_lls a:link,.elem_list_lls a:visited, .elem_list_lls a:active{
	color: white;
}
.elem_list_lls a:hover{
	color: #CAC8C8;
}

code b{
	text-decoration: underline;
}


/* ----------------------  RESPONSIVE ---------------------------*/
@media screen and  (max-width: 1440px) {
	.elem_list{
		width: 50%;
	}
	.iconsoussousmenu {
		width: 60px;
		height: 60px;
	}
	.iconsoussousmenu img {
    margin: 19px;
}
.barre_sous_sous_menu {
    height: 60px;
}
.titresoussousmenu {
	line-height: 60px;
}
}

@media screen and  (max-width: 1040px) {
  .admin, .logo {
    position: absolute;
    left: -220px;
    top:50px;
    z-index: 9999;
    margin-left:0px;
    background: linear-gradient(to right,#373737, #323232);
	bottom: 0px;
	width: 200px;
	padding-left:10px;
   
  }
  .menu{ /* A METTRE DANS COL DE GAUCHE */
  	display: none;
  }
  .content{
  	left:0px ;
  	top:50px ;
  	overflow-x: hidden;
  }

  .imagespot{
  	height: 300px ;

  }
  .col{
  	width: 100% ;
  	margin-bottom:8px ;
	padding-bottom:10px;

  }
  .col img{
  	display: none;
  }
  .col h1{
  	margin-top : 5px ;
  	margin-bottom: 5px ;
  }
  .col p{
  	margin:0px ;
  }
  .mobil_head{
  	display: block ;
  	background: url('logo_respon.png');
  	 background: linear-gradient(
	        top,
	        #373737,
	        #282828
	    );
  	background-repeat: no-repeat;
  	background-position: center;
  }

  .button_open_swipe_menu{
  	height: 50px;
  	width: 50px;
  	background: url("img/design/open.png");
  	background-repeat: no-repeat;
  	background-position: center;
  }
  .button_open_swipe_menu:hover{
	opacity:0.5;
	}

  .barre_sous_sous_menu{
  	height: 50px;
  }
  .titresoussousmenu{
  	line-height: 50px;
  	font-size: 30px;

  }
  .iconsoussousmenu img {
    margin: 15px;
}
	.iconsoussousmenu {
	    width: 50px;
	    height: 50px;

}
.descsoussousmenu {
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    padding-left: 20px;
}
.col_form_ajout_spot {
    width: 100%;
}
.ombre{
	display: none;

}
.taille_img_preview{
	
	text-align: center;
	width:100%;
 }
 .responsive{
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	margin-bottom: 60px;
	margin-top: -20px;
}
  
}
